form {
  background: linear-gradient(to bottom, #3981ec, #13b9c5);
  border-radius: 5px;
  color: #fff;
  font-family: 'Open Sans', sans-serif; 
  box-shadow: 10 10 30px rgb(230, 226, 226);
  padding: 20px;
  max-width: 500px;
  margin: 50px auto;
  border: 1px solid #0018f1;
}


input[type=text], input[type=email], input[type=tel], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type=submit] {
  background-color: #4CAF50;
  color: #fff;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button[type=submit]:hover {
  background-color: #45a049;
}

label {
  display: inline-block;
  width: 120px;
  text-align: left;
}

h2 {
  text-align: center;
}
body {
  background-image: url(slike/registracija.jpg);
  background-size: cover;
	background-position: center;
	background-repeat: no-repeat; 
	background-attachment: fixed; 
}